*{
  margin: 0 auto;
  text-align: center;

}
.container {
  width: 80%;
  margin: 0 auto;
}


/* STYKE NAVBAR */
.navbar {
  justify-content: space-between;
  width: 120%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar .brand-logo  {
  height: 60px;
  margin-left: -190px;
}

.navbar .nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  margin-right: -7%;
  padding: 0;
}

.navbar .nav-list li {
  margin: 0;
}

.nav-list li a {
  color: #f80000; /* Warna putih untuk tulisan navbar */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}

.nav-list li a:hover,
.nav-list li a:focus {
  color: #fff; /* Warna putih untuk tulisan navbar saat hover atau focus */
}

.nav-list li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff; /* Warna putih untuk underline saat hover */
  transition: width .3s;
}
.nav-list li a:hover::after,
.nav-list li a:focus::after {
  width: 100%;
  transition: width .3s;
}

.btn-login {
  background-color: #ff5c5c;
  margin-right: 10%;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* STYLE NAVBAR */

/* STYLE HOMEPAGE */
.Hero img {
  margin-top: -10%;
  width: 1500px;
  height: 500px;
}
/* STYLE HOMEPAGE */

/* STYLE HEROSECTION */
.hero-section {
  display: grid;
  text-align: center;
  padding: 2rem 0;
  
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.hero-section .hero-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;

}

.hero-images img {
  width: 20%;
  height: 100px;
  border-radius: 10px;
  transition:  0.2s ease;
  cursor: pointer;
}

.hero-images :hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0,6);
}

.company-info {
  font-size: 1.2rem;
  color: #333;
}

.company-info h2 {
  margin-bottom: 0.5rem;
}

.company-info p {
  margin: 0;
}
/* STULE HEROSECTION */