<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

=======
>>>>>>> 8c38e30 (Update AboutRoles)
/* START STYLE NAVBAR */
.navbar {
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 1000;
  margin-left: -50px;
  align-items: center;
  display: flex;
}

.navbar .brand-logo {
  height: 60px;
  margin-left: -0px;
}

.navbar .nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  margin-right: -7%;
  padding: 0;
}

.navbar .nav-list li {
  margin: 0;
}

.nav-list li a {
  color: #f80000; /* Warna putih untuk tulisan navbar */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}

.nav-list li a:hover,
.nav-list li a:focus {
  color: #fff; /* Warna putih untuk tulisan navbar saat hover atau focus */
}

.nav-list li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff; /* Warna putih untuk underline saat hover */
  transition: width 0.3s;
}
.nav-list li a:hover::after,
.nav-list li a:focus::after {
  width: 100%;
  transition: width 0.3s;
}

.btn-login {
  background-color: #ff5c5c;
  margin-right: -2%;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* END STYLE NAVBAR */

/* START STYLE HOMEPAGE */
.Hero img {
  margin-top: -10%;
  background-size: cover;
  background-position: center;
  width: 100%;
<<<<<<< HEAD
  height: 500px; 
=======
  height: 400px;
>>>>>>> 8c38e30 (Update AboutRoles)
}
/* STYLE HOMEPAGE */

/* STYLE HEROSECTION */
.hero-section {
  display: grid;
  text-align: center;
  padding: 50px;
}

.hero-section h1 {
  font-size: 35px;
  font-weight: bold;
  color: #001f6d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 20px 0;
}

.hero-section .hero-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.hero-images img {
  width: 30%;
  height: 150px;
  border-radius: 10px;
  transition: 0.2s ease;
  cursor: pointer;
  margin: 16px;
}

.hero-images :hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 6);
}

.company-info {
  font-size: 1.2rem;
  color: #333;
}

.company-info h2 {
  font-size: 25px;
  font-weight: bold;
  color: #001f6d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 7px 0;
}

.company-info p {
  font-size: 15px;
  font-weight: bold;
  color: #001f6d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 7px 0;
}
/* END STYLE HEROSECTION */

/*STYLE ABOUT US*/

/* START ABOUT US*/

.about-section {
  text-align: center;
  margin: 60px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.vertical-line {
  width: 70px;
  height: 300px;
  background-color: black;
  margin: 0 20px;
}
/* END ABOUT US*/

<<<<<<< HEAD
/* LOGIN START */

.ImgLogin img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center; 
}
/* lOOGIN END */
=======
/* STYLE ABOUTROLES SECTION */
.aboutroles-section {
  display: grid;
  text-align: center;
  padding: 50px;
}

.aboutroles-section h1 {
  font-size: 35px;
  font-weight: bold;
  color: #001f6d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 20px 0;
}

.aboutroles-section .aboutroles-images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card p {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.aboutroles-images img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 10px;
}

/* END STYLE ABOUTROLES SECTION */
>>>>>>> 8c38e30 (Update AboutRoles)
